@import url(./assets/css/page.css);


.game__container{
    display: flex;

}
main{
    width: 100%;
}
.table{
    flex: 50%;
}
.game {    
    display: flex;    
    flex-wrap: wrap;
    width: var(--gameWidth);      
    gap: 5px;
}
.cell{
    position: relative;  
    width: calc(var(--gameWidth)/var(--callCell) - (var(--callCell) - 1)*5px);
    height: calc(var(--gameWidth)/var(--callCell) - (var(--callCell) - 1)*5px);
    border-radius: 4px;
    background-color: #cce483;
    color: var(--X);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    transition: all .2s ease-in;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:calc(var(--gameWidth)/var(--callCell) - 5px);
    font-family: Montserrat;

}
.cell:hover{
    background-color: rgb(152, 200, 7);
}
.show{
    opacity: 1;
}
.active{
    background-color: rgb(152, 200, 7);
}