@import url(./assets/css/page.css);


/* game */




.game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: var(--gameWidth);
    gap: 5px;
}

.newGame,
.startGame{
    margin-top: 30px;
    width: var(--gameWidth);
    border: 2px solid var(--font);
    font-family: PT Sans;
    text-transform: uppercase;
    text-align: center;
    user-select: none;
    cursor: pointer;
    font-size: 1em;
    line-height: 2em;
    font-weight: 400;
    color: var(--font);
    transition: all 0.2s ;
}
.newGame:hover,
.startGame:hover{
    font-family: Montserrat;
    box-shadow: inset -175px 0 0 0 var(--bg-green-lite), inset 175px 0 0 0 var(--bg-green-lite);
    color: white;
    border: 2px solid var(--bg-green-lite);
}
.newGame{
    opacity: 0;
    transform: translate3d(0, 36px, 0);
}

.popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -1;
    background: rgba(255,255,255,0.8);
    opacity: 0;
}

.result{
    color: var(--font);
    font-family: Montserrat;
    font-weight: 400;
    font-size: 1em;
    line-height: 2em;
    user-select: none;
}
.result span{
    font-weight: 600;
}

.cell{
    position: relative;
    user-select: none;
    width: calc(var(--gameWidth)/var(--callCell) - (var(--callCell) - 1)*5px);
    height: calc(var(--gameWidth)/var(--callCell) - (var(--callCell) - 1)*5px);
    border-radius: 4px;
    background-color: var(--bg-green-lite);
    color: var(--X);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    transition: all .2s ease-in;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:calc(var(--gameWidth)/var(--callCell) - 5px);
    font-family: Montserrat;

}
.cell:hover{
    background-color: var(--bg-green);
}
.show{
    opacity: 1;
    transform: translate3d(0, 0, 0);
    z-index: 2;
}
.active{
    background-color: var(--bg-green);
}

/* score table */

 .scoreboard__table {
    font-family: PT Sans;
    width: 100%;
    border: none;
    border-collapse: collapse;
  }

   .scoreboard__table .table__head {
    background-color: var(--bg-green);
    color: white;
    font-size: 18px;
    text-transform: uppercase;
  }

   .scoreboard__table .table__head th {
    padding: 10px;
  }

   .scoreboard__table .table__body {
    background-color: transparent;
    color: var(--white-o50);
    text-align: center;
  }

   .scoreboard__table .table__body tr {
    transition: background-color 0.35s cubic-bezier(0.19, 1, 0.22, 1), color 0.35s cubic-bezier(0.19, 1, 0.22, 1);
  }

   .scoreboard__table .table__body tr:nth-child(even) {
    background-color: var(--white-o5);
  }

  @media (hover: none) {
     .scoreboard__table .table__body tr:active {
      background-color: var(--white-o10);
      color: var(--white);
    }
  }

  @media (hover: hover) {
     .scoreboard__table .table__body tr:hover {
      background-color: var(--white-o10);
      color: var(--white);
    }
  }

   .scoreboard__table .table__body td {
    padding: 10px;
  }